th.table_select {
    width: 15%;
}
#import_translation p{
    font-weight: 600;
    font-size: 14px;
}
#import_translation ul{
    font-size: 12px;
    margin-bottom: 20px;
}
#import_translation li {
    list-style: none;
}
#import_translation i {
    vertical-align: middle;
}
#import_translation button {
    min-width: 150px !important;
}

.vertical-table {
    display: table;
    vertical-align: middle;
}
.vertical-align {
    display: table-cell;
    vertical-align: middle;
}
img.vertical-align {
    width: 100%;
}
